:root{
    --branco:#fff;
    --rosa: #fe8685;
    --azul-claro:#79dcc8;
    --azul:#029cda;
    --amarelo:#fec504;
    --roxo:#6d2885;
    --pink:#fd0f81;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin-top: 5%;
    max-width: 1024px;
    width: 100%;
    padding-top: 10px;
    overflow-x: hidden;
    background-color: var(--branco);
}
.navbar{
    background-color: black;
}

header img{
    width: 8%;
}

.barra-pesquisa{
    background-color:var(--rosa);
}

.nav li a.active{
    color: #fff;
}

.nav li a:hover{
    color: #fff;
}

.nav li a{
    color: #fff;
}

.social-links{
    list-style: none;
}

.social-links i{
    color: #fff;
}
