:root{
    --branco:#fff;
    --rosa: #fe8685;
    --verde-claro:#505c59;
    --azul:#029cda;
    --amarelo:#fec504;
    --roxo:#6d2885;
    --pink:#fd0f81;
    --textos: "Montserrat", sans-serif;
    --titulos:"Pacifico", 'cursive';
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin-top: 2%;
    max-width: 1024px;
    width: 100%;
    padding-top: 10px;
    overflow-x: hidden;
    background-color: var(--branco);
    font-family: var(--textos);
}
.navbar{
    background-color: black;
}

.navbar-toggler{
    background-color:var(--branco)
}

header img{
    width: 8%;
}

.barra-pesquisa{
    background-color:var(--rosa);
}

.nav-pills .nav-link.active{
    background-color: #272727;
}

.informacoes-uteis li a:hover{
    background-color: #393737;
}

.informacoes-uteis li a,
.categorias li a,
.social-links i{
    font-family: var(--textos);
}

.social-links{
    list-style: none;
}

.categorias li:first-child{
    background-color: var(--pink);
}

.categorias li:nth-child(2){
    background-color: var(--azul);
}

.categorias li:nth-child(3){
    background-color: var(--roxo);
}

.categorias li a:hover,
.informacoes-uteis li a,
.categorias li a,
.social-links i,
.informacoes-uteis li a:hover,
.nav-pills .nav-link.active{
    color: #fff;
}

nav ul li:nth-child(2){
    display: none;
}

.title{
    font-family: var(--titulos);
}

.text-colored,
#categorias .nav .nav-link{
    color: var(--roxo);
}

@media (max-width:768px){
    .logo{
        display: none;
    }
    header div:nth-child(2){
        display: flex;
        justify-content: center;
    }

}

@media (max-width:576px){
    header div:first-child,
    header div:nth-child(2){
        display: none;
    }

    .navbar{
        background-color: var(--rosa);
        padding-left: 10px;
    }

    nav ul li:nth-child(2){
        display: block;
    }

    .nav-pills .nav-link.active{
        background-color: #f4b0b0;
    }
}